body{
    background-color: rgba(0, 82, 177, 0.884);
    color:white;
}
header{
    background-image: url("img/headerbackground.png");
    background-repeat: no-repeat;
    height: 30vh; 
    background-position-x: center;
    position: relative;
    background-color: rgb(34, 34, 34);
}
nav{
    background-color: rgba(0, 48, 104, 1);
    width: 100%;
    padding: 0rem 0;
    height: 30px;
    bottom: 0;
    position: absolute;
}
ul{
    display: flex;
    flex-direction: row; 
    list-style: none;
    margin-right: 15px;
    height: 100%;
    justify-content: space-between;
}
ul li{
    height: 100%;
    text-align: center;
    width: 20%;
    transition: all 0.5s;
}
ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
}
li:hover{
    background-color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 50px;
    color: blue;
}
li:hover a{
    color: blue;
}


/*          ESTILOS PÃGINA PRINCIPAL            */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 67vh;
}
#contenido{
    width: 90%;
    text-align: justify;
    margin: 20px;
    padding: 0px 50px 30px 50px;
    font-size: 1.3rem;
    background-color: rgba(34, 34, 34,0.8);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenido h1{
    font-size: 5rem;
    margin-bottom: 15px;
}
#contenido h2{
    font-size: 2.5rem;
    margin:15px 
}

#contenido>h1, #contenido>h2{
    text-align: center;
}
#renderizador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:22px;
    width: 100%;    
    border:1px solid black;
}
.card{
    display: flex;
    flex-direction: column;
    width:20vw;
    background-color: rgba(0, 82, 177, 0.884);
    color:white;
    padding: 10px;
}
.card-title{
    text-align: center;
    width: 100%;
}

.card-text{
    text-align: center;
}
#filtros{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filtros ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;
}

#filtros ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#paginacion{
    width:40%;
    background-color: rgba(0, 48, 104, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

footer{
    background-color: rgba(0, 48, 104, 1);
    width: 100%;
    padding: 0rem 0;
    height: 30px;
    bottom: 0;
   text-align: center;
}



/*              ESTILOS FORMULARIO DE CONTACTO              */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 5px;
}